<div class="row">
  <div class="col-md-3">

<%= image_tag @business.image.url(:medium) %>

<h2>
  <%= @business.name %>
</h2>

<strong>Address</strong>
<p>
<%= @business.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @business.website, @business.website %>

</p>

<%= link_to "Write Review", new_business_review_path(@business), class: "btn btn-primary" %>

    </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
        <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>

<% @reviews.each do |review| %>
    <div class="star-rating" data-score= <%= review.rating %>></div>
    <p><%= review.comment %></p>
		<% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_business_path(@business), class: "btn btn-link" %> |

<%= link_to 'Back', businesses_path, class: "btn btn-link" %>

<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/global-market/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>